<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eliminar usuario</title>
</head>
<body>

	<form class="form-horizontal" action="#"
		th:action="@{/deleteStudent/submit}" th:object="${user}"
		method="post">
		<fieldset>

			<legend>Usuario a eliminar</legend>

			<div class="form-group">
				<label class="col-md-4 control-label" for="username">Nombre de usuario:</label>
				<div class="col-md-4">
					<input id="username" name="username" type="text" th:field="*{username}"
						th:value="*{username}" class="form-control input-md"
						readonly="readonly">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">Nombre y Apellido:</label>
				<div class="col-md-4">
					<input id="name" name="name" type="text" th:field="*{name}"
						th:value="*{name}" class="form-control input-md" readonly="readonly">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="email">Email:</label>
				<div class="col-md-4">
					<input id="email" name="email" type="email"
						th:field="*{email}" th:value="*{email}"
						class="form-control input-md" readonly="readonly">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="submit" name="submit" class="btn btn-primary">Eliminar</button>
				</div>
			</div>

		</fieldset>
	</form>

	<div class="form-group">
		<label class="col-md-4 control-label" for="cancel"></label>
		<div class="col-md-4">
			<a th:href="@{/usuario/list}"><button id="cancel" name="cancel"
					class="btn btn-primary">Cancelar</button></a>
		</div>
	</div>


</body>
</html>